
<div id="back-ground-img">
  
  <center>
    <br>
    <img src="http://i65.tinypic.com/157dqo4.jpg" width="600" height="130" valign="middle"><br>

    <br>

    <h4><span class="black-text">Book Your Own Life</span></h4>

    <br>
    <img src="http://www.michigantheatre.org/assets/Post-Sing-Competition.jpg" alt="mic on stage"/>
    <p></p>
    <% if logged_in? %>
      <%= link_to logout_path do %>
        <div class="button">
          <font color="#FFF">Logout</font>
        </div>
      <% end %>

    <% else %>

      <%= link_to login_path do %>
        <div class="button">
          <font color="#FFF"> Sign In </font>
        </div>
        <% end %>


      <%= link_to new_user_path do %>
        <div class="button_blue" style="inline-block">
          <font color="#FFF"> Create an Account </font>
        </div>
      <% end %>
    <% end %>

    <br>
    <br>
  </center>
</div>
