<br>
<br>
<br>
<center><img src="http://i65.tinypic.com/157dqo4.jpg" width="600" height="130" valign = "middle"><br />

<h2><i> 
<span class="red-text">Where bands and stages meet </span></i></h2>


<br />
<br />
 <figure>
    <img src="http://www.michigantheatre.org/assets/Post-Sing-Competition.jpg" alt="mic on stage"/>
  </figure></center>
