<center><h1>OPEN STAGE</h1>
<br />

<a class="navbar-brand" href="<%= root_path %>"/>Home</a>
<a class="navbar-brand" href="<%= venues_path %>"/>Venues</a>
<a class="navbar-brand" href="<%= performers_path %>"/>Performers</a>
<a class="navbar-brand" href="<%= promoters_path %>"/>Promoters</a>


</div>
<br />
<br />
 <figure>
    <img src="http://www.michigantheatre.org/assets/Post-Sing-Competition.jpg" alt="mic on stage"/>
  </figure></center>
