/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
/*


*/

/* Some Style from the Bootstrap Default Theme */
/* body {
 * padding-top: 70px;
  *padding-bottom: 30px;
}*/

@import "materialize";

.nav-bar {
  font-family: "Century Gothic";
  background-color: #d3d3d3;
  padding: 10px;
  color: black;
}

.nav-bar a {
  color: black;
}

#myFooter{
	background-color: #d3d3d3;
}

#myHeader{
	background-color: #d3d3d3;
	margin: 1em;
}

html, body {
background-color: white;
font-family: "Century Gothic";
margin: 0;
padding: 0;

}

nav{
	background-color: #d3d3d3;
}

#main_content{
	margin: 5px 10%;
}

.hline {
	width: 100%; height: 3px; background: red
}

.v_align {
    vertical-align: middle;
}

.box    { display: inline-block;
            /* size, color, etc. */ }

.flash_notice_red {
  font-family: "Arial";
  background-color: #c94549;
  color: white;
  font-size: 2em;
  padding: 5px;
}
